name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  BUILD_TYPE: Debug

jobs:
  build:
    strategy:
      matrix:
        # # TODO: Test on 32-bit systems (not possible with Github Actions?)
        # # TODO: switch to ubuntu-22.04
        # os:
        # ##TODO - ubuntu-24.04
        # ##TODO - ubuntu-24.04-arm
        # - ubuntu-22.04
        # ##TODO - ubuntu-22.04-arm
        # - macos-15
        # ##TODO - macos-15-intel
        # mpi:
        # - MPICH
        # - OpenMPI
        # findmpi:
        # ##TODO - MPIEXEC_EXECUTABLE
        # - MPI_HOME
        # ##TODO - CMAKE_C_COMPILER
        # shared:
        # - STATIC
        # ##TODO - SHARED
        # mpitrampoline: [9d4e7eb030048f3405cabefa36eb8e6a456fe18b]
        # mpiwrapper: [d4cc3eb2d8f19353dac5c4e5846a893959e31a36]
        # exclude:
        # # MPICH is broken on Ubuntu 24.04; see
        # # <https://github.com/pmodels/mpich/issues/7064>. Older Ubuntus work,
        # # and Debian works as well.
        # # TODO: Try ch3
        # - os: ubuntu-24.04
        #   mpi: MPICH
        # - os: ubuntu-24.04-arm
        #   mpi: MPICH
        # # Weird segfault in Fortran Allreduce
        # - os: ubuntu-24.04-arm
        #   mpi: OpenMPI          
        # # Invalid communicator in Fortran MPI_Comm_rank
        # # TODO: On macOS, MPItrampoline shared libraries work only for
        # # statically linked MPICH libraries.
        # - os: macos-15
        #   mpi: MPICH
        # - os: macos-15-intel
        #   mpi: MPICH
        # - os: macos-15
        #   mpi: OpenMPI
        # - os: macos-15-intel
        #   mpi: OpenMPI
        include:
        - os: ubuntu-22.04
          mpi: MPICH
          shared: SHARED
          findmpi: MPIEXEC_EXECUTABLE

    runs-on: ${{matrix.os}}

    steps:
    - uses: actions/checkout@v6

    - name: Install system packages
      run: |
        case $RUNNER_OS in
        Linux)
            sudo apt-get update
            case "${{matrix.mpi}}" in
                MPICH) sudo apt-get install libmpich-dev;;
                OpenMPI) sudo apt-get install libopenmpi-dev;;
            esac
            ;;
        macOS)
            case "${{matrix.mpi}}" in
                MPICH) brew install automake;;
                OpenMPI) brew install automake libtool;;
            esac
            ;;
        esac

    - name: Cache MPI
      id: cache-mpi
      uses: actions/cache@v5
      with:
        path: ${{github.workspace}}/mpi
        key: ${{runner.os}}-${{matrix.mpi}}-${{matrix.shared}}-v3

    - name: Install MPI ${{matrix.mpi}}
      if: steps.cache-mpi.outputs.cache-hit != 'true'
      run: |
        case $RUNNER_OS in
        Linux)
            ;;
        macOS)
            case ${{matrix.mpi}} in
            MPICH)
                wget https://www.mpich.org/static/downloads/5.0.0/mpich-5.0.0.tar.gz
                tar xzf mpich*.tar.gz
                cd mpich*
                if [ ${{matrix.shared}} = STATIC ]; then
                    # Use GCC-15 from Homebrew
                    export CC=gcc-15
                    export CXX=g++-15
                    export F77=gfortran-15
                    export FC=gfortran-15
                    ./configure \
                        --disable-opencl \
                        --disable-shared \
                        --enable-static \
                        --enable-threads=multiple \
                        --prefix=${{github.workspace}}/mpi
                    # ./configure \
                    #     --disable-opencl \
                    #     --enable-threads=multiple \
                    #     --enable-two-level-namespace \
                    #     --prefix=${{github.workspace}}/mpi
                else
                    #TODO exit 1
                    # On macOS, MPItrampoline shared libraries work
                    # only for statically linked MPICH libraries.
                    # Use GCC-15 from Homebrew
                    export CC=gcc-15
                    export CXX=g++-15
                    export F77=gfortran-15
                    export FC=gfortran-15
                    export CFLAGS="-fPIC -DPIC"
                    export CXXLAGS="-fPIC -DPIC"
                    export FFLAGS="-fPIC -DPIC -fallow-argument-mismatch"
                    export FCFLAGS="-fPIC -DPIC -fallow-argument-mismatch"
                    ./configure \
                        --disable-opencl \
                        --enable-threads=multiple \
                        --enable-two-level-namespace \
                        --prefix=${{github.workspace}}/mpi
                fi
                make -j4
                make -j4 install
                ;;
            OpenMPI)
                wget https://download.open-mpi.org/release/open-mpi/v5.0/openmpi-5.0.9.tar.gz
                tar xzf openmpi*.tar.gz
                cd openmpi*
                # Use GCC-15 from Homebrew
                export CC=gcc-15
                export CXX=g++-15
                export F77=gfortran-15
                export FC=gfortran-15
                # On macOS, MPItrampoline works only for statically
                # linked OpenMPI libraries.
                find . -type f -print0 | xargs -0 perl -pi -e 's/-Wl,-flat_namespace//g;s/\$\{wl\}-flat_namespace//g'
                ./autogen.pl --force
                export CFLAGS='-fPIC -DPIC'
                export CXXLAGS='-fPIC -DPIC'
                export FFLAGS='-fPIC -DPIC -fallow-argument-mismatch'
                export FCFLAGS='-fPIC -DPIC -fallow-argument-mismatch'
                ./configure \
                    --disable-man-pages \
                    --disable-shared \
                    --enable-mpi-fortran=usempif08 \
                    --enable-static \
                    --prefix=${{github.workspace}}/mpi \
                    --with-libevent=internal
                make -j4
                make -j4 install
                ;;
            esac
            ;;
        esac

    - name: Install MPIwrapper
      run: |
        # See MPIwrapper
        export PATH="${{github.workspace}}/mpi/bin:$PATH"
        git clone https://github.com/eschnett/MPIwrapper
        cd MPIwrapper
        git checkout ${{matrix.mpiwrapper}}
        cmake -B build \
            -DCMAKE_VERBOSE_MAKEFILE=ON \
            -DCMAKE_C_COMPILER=mpicc \
            -DCMAKE_CXX_COMPILER=mpicxx \
            -DCMAKE_Fortran_COMPILER=mpifort \
            -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} \
            -DCMAKE_INSTALL_PREFIX=$HOME/mpiwrapper
            # -DMPIEXEC_EXECUTABLE=${{github.workspace}}/mpi/bin/mpiexec
        cmake --build build --parallel 4
        cmake --install build

    - name: Install MPItrampoline
      run: |
        git clone https://github.com/eschnett/MPItrampoline
        cd MPItrampoline
        git checkout ${{matrix.mpitrampoline}}
        case $RUNNER_OS in
        Linux)
            # do nothing
            ;;
        macOS)
            # Use GCC-15 from Homebrew
            export CC=gcc-15
            export CXX=g++-15
            export FC=gfortran-15
            ;;
        esac
        cmake -B build \
            -DCMAKE_VERBOSE_MAKEFILE=ON \
            -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} \
            -DBUILD_SHARED_LIBS=${{matrix.shared}} \
            -DCMAKE_INSTALL_PREFIX=$HOME/mpitrampoline
        cmake --build build --parallel 4
        cmake --install build

    - name: Configure Tests
      run: |
        case $RUNNER_OS in
        Linux)
            # Not needed for CMAKE_C_COMPILER
            export FFLAGS='-fcray-pointer'
            ;;
        macOS)
            # Use GCC-15 from Homebrew
            export CC=gcc-15
            export CXX=g++-15
            export FC=gfortran-15
            # Not needed for CMAKE_C_COMPILER
            export FFLAGS='-fallow-argument-mismatch -fcray-pointer'
            ;;
        esac
        case "${{matrix.findmpi}}" in
        MPIEXEC_EXECUTABLE)
            cmake -B ${{github.workspace}}/build \
                -DCMAKE_VERBOSE_MAKEFILE=ON \
                -DMPIEXEC_EXECUTABLE=$HOME/mpitrampoline/bin/mpiexec \
                -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} \
                -DCMAKE_INSTALL_PREFIX=$HOME/mpitest
            ;;
        MPI_HOME)
            cmake -B ${{github.workspace}}/build \
                -DCMAKE_VERBOSE_MAKEFILE=ON \
                -DMPI_HOME=$HOME/mpitrampoline \
                -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} \
                -DCMAKE_INSTALL_PREFIX=$HOME/mpitest
            ;;
        CMAKE_C_COMPILER)
            cmake -B ${{github.workspace}}/build \
                -DCMAKE_VERBOSE_MAKEFILE=ON \
                -DCMAKE_C_COMPILER=$HOME/mpitrampoline/bin/mpicc \
                -DCMAKE_CXX_COMPILER=$HOME/mpitrampoline/bin/mpicxx \
                -DCMAKE_Fortran_COMPILER=$HOME/mpitrampoline/bin/mpifort \
                -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} \
                -DCMAKE_INSTALL_PREFIX=$HOME/mpitest
            ;;
        esac

    - name: Build tests
      run: |
        case $RUNNER_OS in
        Linux)
            export FFLAGS='-fcray-pointer'
            ;;
        macOS)
            # Use GCC-15 from Homebrew
            export CC=gcc-15
            export CXX=g++-15
            export FC=gfortran-15
            export FFLAGS='-fallow-argument-mismatch -fcray-pointer'
            export MPITRAMPOLINE_CC=gcc-15
            export MPITRAMPOLINE_CXX=g++-15
            export MPITRAMPOLINE_FC=gfortran-15
            ;;
        esac
        cmake --build ${{github.workspace}}/build --parallel 4

    - name: Install tests
      run: cmake --install ${{github.workspace}}/build

    - name: Test C ${{matrix.mpi}}
      run: |
        case "${{matrix.mpi}}" in
            MPICH) mpiexec_options='';;
            OpenMPI) mpiexec_options='--oversubscribe';;
        esac
        export MPITEST_COMM_WORLD_SIZE=4
        export MPITRAMPOLINE_VERBOSE=1
        export MPITRAMPOLINE_MPIEXEC=$HOME/mpiwrapper/bin/mpiwrapperexec
        export MPITRAMPOLINE_LIB=$HOME/mpiwrapper/lib/libmpiwrapper.so
        $HOME/mpitrampoline/bin/mpiexec ${mpiexec_options} -n 4 $HOME/mpitest/bin/mpi-test-c

    - name: Test C++ ${{matrix.mpi}}
      run: |
        case "${{matrix.mpi}}" in
            MPICH) mpiexec_options='';;
            OpenMPI) mpiexec_options='--oversubscribe';;
        esac
        export MPITEST_COMM_WORLD_SIZE=4
        export MPITRAMPOLINE_VERBOSE=1
        export MPITRAMPOLINE_MPIEXEC=$HOME/mpiwrapper/bin/mpiwrapperexec
        export MPITRAMPOLINE_LIB=$HOME/mpiwrapper/lib/libmpiwrapper.so
        $HOME/mpitrampoline/bin/mpiexec ${mpiexec_options} -n 4 $HOME/mpitest/bin/mpi-test-cxx

    - name: Test Fortran 77 mpif ${{matrix.mpi}}
      run: |
        case "${{matrix.mpi}}" in
            MPICH) mpiexec_options='';;
            OpenMPI) mpiexec_options='--oversubscribe';;
        esac
        export MPITEST_COMM_WORLD_SIZE=4
        export MPITRAMPOLINE_VERBOSE=1
        export MPITRAMPOLINE_MPIEXEC=$HOME/mpiwrapper/bin/mpiwrapperexec
        export MPITRAMPOLINE_LIB=$HOME/mpiwrapper/lib/libmpiwrapper.so
        $HOME/mpitrampoline/bin/mpiexec ${mpiexec_options} -n 4 $HOME/mpitest/bin/mpi-test-mpif-f

    - name: Test Fortran 90 mpif ${{matrix.mpi}}
      run: |
        case "${{matrix.mpi}}" in
            MPICH) mpiexec_options='';;
            OpenMPI) mpiexec_options='--oversubscribe';;
        esac
        export MPITEST_COMM_WORLD_SIZE=4
        export MPITRAMPOLINE_VERBOSE=1
        export MPITRAMPOLINE_MPIEXEC=$HOME/mpiwrapper/bin/mpiwrapperexec
        export MPITRAMPOLINE_LIB=$HOME/mpiwrapper/lib/libmpiwrapper.so
        $HOME/mpitrampoline/bin/mpiexec ${mpiexec_options} -n 4 $HOME/mpitest/bin/mpi-test-mpif-f90

    - name: Test Fortran 90 mpi ${{matrix.mpi}}
      run: |
        case "${{matrix.mpi}}" in
            MPICH) mpiexec_options='';;
            OpenMPI) mpiexec_options='--oversubscribe';;
        esac
        export MPITEST_COMM_WORLD_SIZE=4
        export MPITRAMPOLINE_VERBOSE=1
        export MPITRAMPOLINE_MPIEXEC=$HOME/mpiwrapper/bin/mpiwrapperexec
        export MPITRAMPOLINE_LIB=$HOME/mpiwrapper/lib/libmpiwrapper.so
        $HOME/mpitrampoline/bin/mpiexec ${mpiexec_options} -n 4 $HOME/mpitest/bin/mpi-test-mpi-f90

    - name: Test Fortran 90 mpi_f08 ${{matrix.mpi}}
      run: |
        case "${{matrix.mpi}}" in
            MPICH) mpiexec_options='';;
            OpenMPI) mpiexec_options='--oversubscribe';;
        esac
        export MPITEST_COMM_WORLD_SIZE=4
        export MPITRAMPOLINE_VERBOSE=1
        export MPITRAMPOLINE_MPIEXEC=$HOME/mpiwrapper/bin/mpiwrapperexec
        export MPITRAMPOLINE_LIB=$HOME/mpiwrapper/lib/libmpiwrapper.so
        $HOME/mpitrampoline/bin/mpiexec ${mpiexec_options} -n 4 $HOME/mpitest/bin/mpi-test-mpi_f08-f90
